<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="../controller/FrontController.php" method="post">
            Nome:<input type="text"  name="nome"><br>
            Tipo:<select name="tipo">
                    <!-- BEGIN BLOCK_TIPO -->
                    <option value="{ID_TIPO}">{NOME_TIPO}</option>
                    <!-- END BLOCK_TIPO -->
                 </select>
            Polo:<select name="polo">
                    <!-- BEGIN BLOCK_POLO -->
                    <option value="{ID_POLO}">{NOME_POLO}</option>
                    <!-- END BLOCK_POLO -->
                 </select>
            <input type="hidden" name="controller" value="CursoController">
            <input type="hidden" name="action" value="adicionar()">
            <input type="submit" value="Add">
        </form>
    </body>
</html>
