<?php
if (!isset($_SESSION['my_login_var'])) {
  header('HTTP/1.1 403 Forbidden');
  exit();
}
?>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form enctype="multipart/form-data" action="../controller/FrontController.php" method="post">
            <input type="hidden" name="controller" value="CursoController">
                <table class="table">
                    <!-- BEGIN BLOCK_CURSO -->
                    <tr>
                        <td>{CURSO_NOME}</td>
                        <td><button name="action" value="editar({ID_CURSO})">Editar</button></td>
                        <td><button name="action" value="deletar({ID_CURSO})">Deletar</button></td>
                        <td><button name="action" value="visualizar({ID_CURSO})">Visualizar</button></td>
                    </tr>  
                    <!-- END BLOCK_TAREFA -->
                </table>
    
        </form>
    </body>
</html>
