<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
        <link rel="stylesheet" href="../lib/css/bootstrap-theme.min.css">
        <script src="../lib/js/bootstrap.min.js"></script>
        <script>
            window.onload = function () {
                box = document.getElementById("addTutor")
                tutor = document.getElementById("tutor")

            }
            function toggleTutor() {
                if (box.checked) {
                    tutor.disabled = false
                } else {
                    tutor.disabled = true
                }
            }
        </script>
    </head>
    <body>
        <div class="container">
            <form action="../controller/FrontController.php" method="post">
                Nome:<input class="form-control" type="text"  name="nome" value="{NOME_DISCIPLINA}"><br>
                Curso:<select name="curso">
                    <!-- BEGIN BLOCK_CURSO -->
                    <option value="{ID_CURSO}" {SELECTED}>{NOME_CURSO}</option>
                    <!-- END BLOCK_CURSO -->
                </select>
                Tutor:<select id="tutor" name="tutor" disabled>
                    <!-- BEGIN BLOCK_TUTOR -->
                    <option value="{ID_TUTOR}" {SELECTED}>{NOME_TUTOR}</option>
                    <!-- END BLOCK_TUTOR -->
                </select><br>
                <input type="checkbox" name="addTutor" id="addTutor" onchange="toggleTutor()">Adicionar um tutor
                <input type="hidden" name="id" value="{ID_DISCIPLINA}">
                <input type="hidden" name="controller" value="DisciplinaController">
                <input type="hidden" name="action" value="update()">
                <input type="submit" value="Edit">
            </form>
        </div>
    </body>
</html>
