<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        Nome:<input type="text"  name="nome" value="{NOME_TUTOR}"><br>
        Email:<input type="text"  name="email" value="{EMAIL_TUTOR}"><br>
        CPF:<input type="text"  name="cpf" value="{CPF_TUTOR}"><br>
        Formacao:<select name="formacao">
                <!-- BEGIN BLOCK_FORMACAO -->
                <option value="{ID_FORMACAO}" {SELECTED}>{NOME_FORMACAO}</option>
                <!-- END BLOCK_FORMACAO -->
             </select>
        Titulacao:<select name="titulacao">
                <!-- BEGIN BLOCK_TITULACAO -->
                <option value="{ID_TITULACAO}" {SELECTED}>{NOME_TITULACAO}</option>
                <!-- END BLOCK_TITULACAO -->
             </select>
        <input type="hidden" name="controller" value="TutorController">
        <input type="hidden" name="action" value="editar()">
        <input type="submit" value="Add">
    </body>
</html>
