<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
        <link rel="stylesheet" href="../lib/css/bootstrap-theme.min.css">
        <script src="../lib/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <form enctype="multipart/form-data" action="../controller/FrontController.php" method="post">
                <input type="hidden" name="controller" value="PoloController">
                    <table class="table">
                        <!-- BEGIN BLOCK_POLO -->
                        <tr>
                            <td>{POLO_NOME}</td>
                            <td>{POLO_CIDADE}</td>
                            <td>{POLO_ESTADO}</td>
                            <td><a href="../web/editaPolo.php?id={ID_POLO}">Editar</a></td>
                            <td><button name="action" value="delete({ID_POLO})">Deletar</button></td>
                            <td>
                                <a href="../web/relatorioDisciplinas.php?id={ID_POLO}">Relatorio - Disciplinas por curso</a>
                            </td>

                        </tr>  
                        <!-- END BLOCK_POLO -->
                    </table>

            </form>
            <a href="../view/addPolo.html">Adicionar</a><br>
        </div>
    </body>
</html>
